executor = 'sge'
conda.createTimeout = '1h'

params {
  help = false
  name = false
  bams = "bams"
  outdir = "outdir"
}

process {

  beforeScript = """
  . /etc/profile.d/modules.sh
  sleep 2;
  """

  module = 'anaconda/5.3.1'
  penv = 'sharedmem'

  withName: sortAlignment {
    cpus = 12
    clusterOptions = "-l h_vmem=4G -pe sharedmem 12 -l h_rt=48:00:00"
  }

  withName: readStats {
    clusterOptions = "-l h_vmem=16G -pe sharedmem 1 -l h_rt=12:00:00"
  }

  withName: extractFastq {
    clusterOptions = "-l h_vmem=16G -pe sharedmem 1 -l h_rt=48:00:00"
  }

  withName: fastQC {
    cpus = 2
    clusterOptions = "-l h_vmem=8G -pe sharedmem 2 -l h_rt=24:00:00"
  }

  withName: checkCounts {
    clusterOptions = "-l h_vmem=1G -pe sharedmem 2 -l h_rt=00:10:00"
  }
    
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}
